{% extends 'core/base.html' %}
{% block content %}

    {%load static%}


        <div class="desc">
            <img src="{% static 'core/images/hero.jpg' %}" alt="">
            <p class="des">tickets.ma est une plateforme innovante dédiée aux bonnes affaires en ligne. Véritable guichet unique, l’application vous permettent d’acheter en un clic vos tickets d’événements à prix coûtant ou de profiter de deals à prix réduits. Tout est
                simplifié pour vous permettre d’économiser du temps, de l’énergie et de l’argent. Chaque produit ou service qui vous intéresse fait l’objet d’un compte à rebours.</p>
        </div>




{% endblock %}