{% extends 'core/base.html' %}
{% block content %}


	<div class="imag " style="margin-top: 10%;">

		{% if events.count > 0 %}
		<div class="YSS" style="display: flex;">
			{% for event in events %}
			<div class="cadre1" style="margin-right: 15px;">
				<a href="{% url 'event_detail' event.id %}">
				<img style="width: 100%; border-radius: 15px;" src={{ event.image.url }} alt=" ">
				<br>
				<div class="genre">
					<p>{{event.category.name}}</p>
				</div>
				<h3>{{ event.name }}</h3>
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<span>{{ event.location }}</span>
				<br>
				<i class="fa fa-bell" aria-hidden="true"></i>
				<span id="countdown{{event.id}}"></span>
				<br>
				<p class="de">A PARTIR DE:
					<div class="prix">{{ event.price }} <b class="MAD">MAD</b> </div>
				</p>
				<form method="post" action="{% url 'order' %}">
					{% csrf_token %}
					<input name="event_id" value="{{event.id}}" hidden/>
					<button class="jach" type="submit">J'achete</button>
				</form>

				</a>
			</div>

			{% endfor %}
		</div>
		{% else %}
		<h3>Pas de resultat<h3>
		{% endif %}

    </div>


{% endblock %}