{% extends 'core/base.html' %}
{% block content %}


	<div style="margin-top: 12%;">

		{% if events.count > 0 %}
		<div class="card-list">
			{% for event in events %}
			<a href="{% url 'event_detail' event.id %}" class="card">

				<img src='{{ event.image.url }}' alt="Image">
				<h2>{{ event.name }}</h2>
				<div class="genre">
					<p>{{event.category.name}}</p>
				</div>
				<h3>{{ event.price }} MAD</h3>
				<form method="post" action="{% url 'order' %}">
					{% csrf_token %}
					<input name="event_id" value="{{event.id}}" hidden/>
					<button class="buy-button">J'achete</button>
				</form>

			</a>

			{% endfor %}
		</div>
		{% else %}
		<h3>Pas de resultat<h3>
		{% endif %}

    </div>


{% endblock %}